@import url("https://fonts.googleapis.com/css?family=Pacifico");

.root{
	-fx-background-color: #F0F4F8;
	-fx-alignment: center;
	-fx-padding: 15px;
}

#gameTitle{
	-fx-font: bold 28px Pacifico;
	-fx-text-fill: #044E54;
	-fx-padding: 0 0 40px 0;
	-fx-font-weight: bold;
}

.mur {
	-fx-graphic: url("../img/mur.png");
}

.diamant {
	-fx-graphic: url("../img/diamantSol.png");
}

.policier {
	-fx-graphic: url("../img/policier.png");
}

.joueur {
	-fx-graphic: url("../img/joueur.png");
}

.case {
	-fx-graphic: url("../img/sol.png");
}

.entrepot {
	-fx-graphic: url("../img/entrepot.png");
}
