@import url("https://fonts.googleapis.com/css?family=Pacifico");

.root{
	-fx-background-color: #F0F4F8;
	-fx-alignment: center;
	-fx-padding: 5px;
}

#scoreBox {
	-fx-alignment: center;
	-fx-padding: 5px;
}

#niveau {
	-fx-alignment: center;
	-fx-padding: 5px;
}

#gameTitle{
	-fx-font: bold 28px Pacifico;
	-fx-text-fill: #044E54;
	-fx-padding: 0 0 20px 0;
	-fx-font-weight: bold;
}
#hsLabel {
	-fx-font: bold 28px Pacifico;
	-fx-text-fill: #044E54;
	-fx-padding: 0 0 10px 0;
	-fx-font-weight: bold;
}

.mur {
	-fx-background-image: url("../img/sol_r.png");
	-fx-graphic: url("../img/croisement.png");
}

.diamant {
	-fx-background-image: url("../img/mur/case.png");
	-fx-graphic: url("../img/diamant.png");
}

.policier {
	-fx-background-image: url("../img/mur/case.png");
	-fx-graphic: url("../img/joueur.png");
}

.joueur {
	-fx-background-image: url("../img/mur/case.png");
	-fx-graphic: url("../img/joueur.png");
}

.joueur_bas {
	-fx-background-image: url("../img/mur/case.png");
	-fx-graphic: url("../img/joueurBas.png");
}

.joueur_haut {
	-fx-background-image: url("../img/mur/case.png");
	-fx-graphic: url("../img/joueurHaut.png");
}

.joueur_droite {
	-fx-background-image: url("../img/mur/case.png");
	-fx-graphic: url("../img/joueurDroit.png");
}

.joueur_gauche {
	-fx-background-image: url("../img/mur/case.png");
	-fx-graphic: url("../img/joueurGauche.png");
}

.case {
	-fx-graphic: url("../img/mur/case.png");
}

.bullet {
	-fx-background-image: url("../img/mur/case.png");
	-fx-graphic: url("../img/bullet.png");
}

.entrepot {
	-fx-graphic: url("../img/case.png");
}

.diamantEntrepot {
	-fx-background-image: url("../img/case.png");
	-fx-graphic: url("../img/diamant_e.png");
}

.inter_4{
	-fx-graphic: url("../img/mur/inter4.png");
}

.inter_3_droite{
	-fx-graphic: url("../img/mur/inter3Droit.png");
}

.inter_3_bas{
	-fx-graphic: url("../img/mur/inter3Bas.png");
}

.inter_3_gauche{
	-fx-graphic: url("../img/mur/inter3Gauche.png");
}

.inter_3_haut{
	-fx-graphic: url("../img/mur/inter3Haut.png");
}

.mur_vertical{
	-fx-graphic: url("../img/mur/vertical.png");
}

.mur_horizontal{
	-fx-graphic: url("../img/mur/horizontal.png");
}

.coin_bas_gauche{
	-fx-graphic: url("../img/mur/coinBasGauche.png");
}

.coin_bas_droite{
	-fx-graphic: url("../img/mur/coinBasDroit.png");
}

.coin_haut_droite{	
	-fx-graphic: url("../img/mur/coinHautDroit.png");
}

.coin_haut_gauche{
	-fx-graphic: url("../img/mur/coinHautGauche.png");
}

.bout_gauche{
	-fx-graphic: url("../img/mur/boutGauche.png");
}

.bout_droite{
	-fx-graphic: url("../img/mur/boutDroit.png");
}

.bout_haut{
	-fx-graphic: url("../img/mur/boutHaut.png");
}

.bout_bas{
	-fx-graphic: url("../img/mur/boutBas.png");
}

.vide{
	-fx-graphic: url("../img/mur/vide.png");
}

.entete {
	-fx-font: bold 18px Pacifico;
	-fx-font-weight: bold;
	-fx-padding: 0 10px 0 0;
}
#score {
	-fx-padding: 10;
	-fx-border-style: solid inside;
	-fx-border-width: 2;
	-fx-border-intsets: 5;
	-fx-border-radius: 5;
}

